{% extends 'base.html.twig' %}

{% block title %}About me{% endblock %}

{% block body %}

<div class="container">

    <center>
        <h1 style="margin-top: 5%">A propos</h1><br><br>

        <div class="about-gauche zoom">
            <div class="card border-primary" style="width: 1000px; height: 200px;">
                <div class="card-header text-info">Présentation générale</div>
                <div class="card-body">
                    <h4 class="card-title">Qui suis-je ?</h4>
                    <p class="card-text">Je m'appelle Thomas ROBERT,<br>J'ai actuellement 19 ans et je vis près de Paris.<br>Je suis autodidacte dans le monde du développement.</p>
                </div>
            </div>
        </div>
        <div class="about-centre zoom">
            <div class="card border-primary" style="width: 1000px; height: 200px; margin-top: 5%">
                <div class="card-header text-success">Compétences</div>
                <div class="card-body">
                    <h4 class="card-title">Quelles sont mes compétences ?</h4>
                    <p class="card-text">Si vous souhaitiez connaître mes différentes compétances je vous les auraient bien cités...<br>Mais je pense que ce <a href="{{ path("app.skills") }}" class="text-success">récapitulatif </a>vous aidera mieux ! </p>
                </div>
            </div>
        </div>
        <div class="about-droit zoom">
            <div class="card border-primary" style="width: 1000px; height: 200px; margin-top: 5%; margin-bottom: 5%">
                <div class="card-header text-warning">Mes ambitions</div>
                <div class="card-body">
                    <h4 class="card-title">Le développement...</h4>
                    <p class="card-text">Le développement m'a toujours attiré, je me suis donc intéressé à plusieurs langages de<br> programmation pour approfondir mes connaissances dans ce domaine.<br>Mon objectif serait de devenir développeur dans le domaine du jeu vidéo.</p>
                </div>
            </div>
        </div>
    </center>
</div>

{% endblock %}