{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="centre">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
