{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="centre">
            <div>
                <h3 class="mb-3">Création</h3>
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
