{% extends "./base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <center>
        {% for message in app.flashes('newsletter_error') %}
            <div class="alert alert-dismissible alert-danger mt-3" style="width: 500px; border-radius: 10px; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('newsletter_success') %}
            <div class="alert alert-dismissible alert-success mt-3" style="width: 500px; border-radius: 10px; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </center>

    <div class="container">
        <div class="centre">
            <div>
                <h2>Bienvenue</h2>
                <p>Bienvenue sur mon site ! Vous pouvez y retrouver plein d'informations sympas sur moi et découvrir quel type de développeur je suis ! N'hésitez pas à explorer les différents onglets... Dans le cas où mon profil vous intéresse, vous pouvez renseigner votre adresse <a href="#newsletter" class="text-info">e-mail</a> pour recevoir des nouveautées de ma part !</p>
            </div>
        </div>
    </div>

    <div class="container ml-auto" style="width: 500px">
        <div class="centre">
            <a id="newsletter"></a>
            <div class="form-group">
                <label for="email">Newsletter</label>
            <form method="post" action="{{ path('app.newsletter.add') }}" class="form-inline my-2 my-lg-0">
                <input id="email" name="newsletter_email" oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength = "30" style="border-radius: 10px;" class="form-control mr-sm-2" type="email" placeholder="Entrez votre email">
                <button style="border-radius: 10px;" class="btn btn-primary my-2 my-sm-0" aria-describedby="emailHelp" type="submit"><i class="fas fa-search"></i> Envoyer</button>
                <small id="emailHelp" class="form-text text-muted">Je vous promets de ne jamais vous spamer.</small>
            </form>
            </div>
        </div>
    </div>
    <a href="#top" type="button" class="btn btn-primary btn-circle btn-lg"><i class="fas fa-link"></i></a>
{% endblock %}