{% extends "./base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container mt-5 ml-auto" style="width: 500px">
        <div class="newsletter">
            <div class="form-group">
                <label for="newsletter">Newsletter :</label>
                <input type="email" class="form-control" id="newsletter" aria-describedby="newsletter" placeholder="Entrez votre email">
                <small id="emailHelp" class="form-text text-muted">Vous ne serez pas spammé d'email !</small>
            </div>
        </div>

    </div>

{% endblock %}