{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}

<div class="container">
    <div class="centre">
        <div>
            <h2>Paramètres de profil</h2>
        </div>
    </div>
</div>

{% endblock %}