.about-gauche {
    text-align: left;
    display: inline-block;
}
.about-droit {
    text-align: right;
    display: inline-block;
}

.about-centre {
    display: inline-block;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.03);

}

.zoom:hover .imgflou {
    filter: blur(3px)
}

.centre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

