.about-gauche {
    text-align: left;
    display: inline-block;
}

.about-droit {
    text-align: right;
    display: inline-block;
}

.about-centre {
    display: inline-block;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.03);

}

.zoom:hover .imgflou {
    filter: blur(3px)
}

.centre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 25px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1;
}

nav {
    display: inline-block;
}

nav a{
    text-decoration: none;
    display: inline-block;
}

.underline-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.underline-link:hover::after{
    width: 100%;
    transition: width .3s;
}