<h1>Merci de votre inscription {{ username }}!</h1>

<p>
    You signed up as {{ username }} the following email:
</p>
<p><code>{{ email }}</code></p>

<p>
    <a href="{{ path('app.confirm.registration', {'token': token}) }}">Cliquez ici pour activer votre compte !</a>
</p>