<h1>Merci de votre inscription {{ username }}!</h1>

<p>
    You signed up as {{ username }} the following email:
</p>
<p><code>{{ email }}</code></p>

<p>
    <a href="{{ path('') }}">Click here to activate your account</a>
</p>