{% extends "base.html.twig" %}

{% block body %}

<div class="centre">
    <div>
        <h2>{% block name %}{% endblock %}</h2>
        <p>{% block content %}{% endblock %}</p>
    </div>
</div>

{% endblock %}