{% extends "skills/base.html.twig" %}

{% block name %}<i class="fab fa-js-square"></i> Javascript{% endblock %}
{% block content %}<c class="text-warning">JavaScript</c> est un langage de programmation de scripts principalement employé dans les pages web interactives. <c class="text-warning">JavaScript</c> est le langage possédant le plus large écosystème grâce à son gestionnaire de dépendances <c class="text-warning">npm</c>, avec environ 500 000 paquets. Découvrez vite mes <a class="text-info" href="#part2">connaissances</a>.{% endblock %}

{% block name2 %}Connaissances{% endblock %}
{% block content2 %}

    <p>Mes compétences en <c class="text-warning">JavaScript</c> orienté objet sont très mince tout comme le <c class="text-warning">JavaScript</c> web. J'ai utilisé quelques fois du <c class="text-warning">JQuery</c> pour des animations web seulement. Cependant, j'ai eu l'occasion d'expérimenter le <c class="text-warning">JavaScript</c> avec <c class="text-warning">Node.js</c> pour, par exemple, créer des packages npm ou bien créer des bots pour la plateforme Discord. </p>
    <br>
    <center>Note : <html><body><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></body></html></center>
{% endblock %}