{% extends "skills/base.html.twig" %}

{% block name %}<i class="fab fa-php"></i> PHP{% endblock %}
{% block content %}Hypertext Preprocessor, plus connu sous son sigle <c class="text-info">PHP</c>, est un "langage de programmation" libre, principalement utilisé pour produire des pages Web dynamiques via un <c class="text-info">serveur HTTP</c>, mais pouvant également fonctionner comme n'importe quel langage interprété de façon locale. <c class="text-info">PHP</c> est un langage impératif orienté objet. Découvrez vite mes <a class="text-warning" href="#part2">compétences</a>.{% endblock %}

{% block name2 %}Compétences{% endblock %}
{% block content2 %}

    <p>Mes compétences en <c class="text-info">PHP</c> sont plutôt variées, j'ai débuté la programmation orientée objet grâce à ma formation de <c class="text-info">PHP</c> en entreprise, j'ai par la suite découvert le framework "Symfony" qui facilite le développement d'application <c class="text-info">PHP</c>. Je suis maintenant capable de créer un site complet de A à Z grâce à <i class="fab fa-symfony"></i> <c class="text-info">Symfony 5</c>.</p>
    <br>
    <center>Expérience : <html><body><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></body></html></center>
{% endblock %}